.main-page-container {
    display: flex;
    gap: 12px;

    width: 100%;
    height: 100%;

    border-radius: 30px;
    box-shadow: -4px 4px 4.4px 5px #A9AC5D40;

    overflow: hidden;
}

.main-page-container .main-page-nav {
    
}

.main-page-container .main-page-content {
    width: 75%;
    height: 100%;

    border-radius: 30px;
}