.profile-container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: minmax(0, 1fr);

    height: 100%;
}

.profile-container .money {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5em;
    color: #3A3C26;

    height: 165px;

    border-bottom: 1px solid #A9AC5D;

    background: transparent;
}

.profile-container .money.red {
    color: #AC5D66;
}

@media (min-width: 1600px) {
    .profile-container .money {
        height: 280px;
    }
}

@media (max-width: 1280px) {
    .profile-container .money {
        height: 153px;
    }
}

@media (max-width: 905px) {
    .profile-container .money {
        height: 165px;
    }
}

@media (max-width: 600px) {
    .profile-container .money {
        height: 135px;
        font-size: 3.5em;
    }
}