.transaction-item {
    position: relative;

    display: flex;
    flex-direction: column;

    border-bottom: 1px solid #A9AC5D;

    height: 55px;

    overflow: hidden;

    transition: 0.5s all ease-in;

    padding-bottom: 0.5em;
}

.transaction-item.active {
    height: 263.8px;
}

.transaction-item table {
    table-layout: auto;

    border-collapse: collapse;
    border-spacing: 0;

    width: 100%;
}

.transaction-item table td {
    padding: 0;
}

.transaction-item table .detail-text-box {
    position: relative;

    width: 5%;
}

.transaction-item table .text {
    font-size: 1.25em;

    transition: 0.3s all ease-out;

    color: #6D6C3C;

    opacity: 0;
}

.transaction-item table .text.active {
    transform: rotateZ(-90deg);

    opacity: 1;
}

.transaction-item .detail-text-box hr {
    transition: all 0.5s ease-in-out;

    position: absolute;

    padding: 0;
    margin: 0;

    height: 0%;

    right: 10%;
    bottom: 0;

    border: 0;
    border-right: 1px solid #A9AC5D;
}

.transaction-item .detail-text-box hr.active {
    height: 97%;
}

.transaction-item .short-info {
    cursor: pointer;

    height: 55px;
}

.transaction-item .short-info .amount {
    font-size: 2.5em;
    color: #A9AC5D;

    width: 20%;
}

.transaction-item .short-info .amount span {
    font-size: 0.75em;
}

.transaction-item .short-info .description {
    text-align: center;

    font-size: 1.125em;
    color: #6D6C3C;

    width: 50%;
}

.transaction-item .short-info .icon {
    text-align: center;

    font-size: 1.75em;
    color: #6D6C3C;

    width: 3.5%;

    transition: all 0.5s linear;
}

.transaction-item .short-info .icon.active {
    transform: rotateZ(180deg);
}

.transaction-item table .detail-item {
    color: #6D6C3C;
    padding: 1em 0;
}

@media (min-width: 1600px) {

    .transaction-item,
    .transaction-item .short-info {
        height: 100px;
    }

    .transaction-item.active {
        height: 437.2px;
    }

}

@media (max-width: 1280px) {

    .transaction-item,
    .transaction-item .short-info {
        height: 51px;
    }

    .transaction-item.active {
        height: 235.6px;
    }

    .transaction-item .short-info .amount {
        font-size: 2em;
    }
}

@media (max-width: 905px) {

    .transaction-item,
    .transaction-item .short-info {
        height: 55px;
    }

    .transaction-item.active {
        height: 262.2px;
    }

    .transaction-item .short-info .amount {
        font-size: 1.75em;
        width: 30%;
    }
}

@media (max-width: 600px) {

    .transaction-item,
    .transaction-item .short-info {
        height: 45px;
    }

    .transaction-item.active {
        height: 200px;
    }

    .transaction-item .short-info .description {
        font-size: 1em;
    }

    .transaction-item .short-info .amount {
        font-size: 1.5em;
        width: 40%;
    }
}