.operations-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: minmax(0, 1fr);

    width: 100%;
    height: 100%;

    color: #6D6C3C;
}

.operations-container .operations-list {
    list-style: none;
    margin: 0;
    padding: 0;

    overflow: auto;
}

.operations-container .operations-list::-webkit-scrollbar {
    display: none;
}