* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background: #E8E1DB;
  height: 100%;
  font-family: var(--font-latin), var(--font-kiril);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

:root {
  --font-latin: 'Julius';
  --font-kiril: 'Poiret';
}

#root {
  height: 100%;
}

@font-face {
  font-family: 'Julius';
  font-display: swap;
  src: url('https://static.cosmomoll.com/fonts/Julius/Julius.ttf') format('Truetype');
}

@font-face {
  font-family: 'Poiret';
  font-display: fallback;
  src: url('https://static.cosmomoll.com/fonts/Poiret/PoiretOne.ttf') format('Truetype');
}