* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background: #E8E1DB;
  height: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

:root {
  --font-default: 'Julius';
}

#root {
  height: 100%;
}

@font-face {
  font-family: 'Julius';
  src: url('./assets/fonts/Julius.ttf') format('Truetype');
}